/*************
ALL CUSTOM CSS
**************/

img.card-img-top {
    height: 230px;
}
p{
    font-size: 1em;
    line-height: 1.8;
    font-weight: 400;
}
.description {
    line-height: 1.8;
    font-weight: 400;
}
a:hover{
    text-decoration: none;
}

/* All div with same height */
.con-flex >div {
    display: flex;
    flex-direction: row;
}

.project-header:before, .page-header:before {
  background-color: rgba(0, 0, 0, 0.6);
}


